<br>
<div class="container-fluid new_session">
  <div class="form-signin">
    <h2 class="form-signin-heading">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> 
        <%= f.password_field :password, autocomplete: "off", placeholder: "Bitte frei lassen, wenn du dein Passwort nicht ändern willst", class: "form-control" %>
        <% if @minimum_password_length %>
         <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "off", placeholder: "Wir brauchen dein Passwort um die Änderungen durchzuführen", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <div class="Account-loeschen">
      <h3>Account Löschen</h3>

      <p>Schade, aber ok ...<%= button_to "Tschüss", registration_path(resource_name), data: { confirm: "Sicher?" }, method: :delete %></p>
    </div>

    <%= link_to "Zurück", :back %>
    <br>
  </div>
</div>
