<p id="notice"><%= notice %></p>

<h1>Mitblogger</h1>

<table>
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Zeigen', user %></td>
        <td><%= link_to 'Bearbeiten', edit_user_path(user) %></td>
        <td><%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Mitblogger', new_user_path %>
