<p id="notice"><%= notice %></p>

<p>
  <strong>Vorname:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Bearbeiten', edit_user_path(@user) %> |
<%= link_to 'Zurück', users_path %>
