<br>
<div class="container-fluid new_session">
  <div class="form-signin">
    <h2 class="form-signin-heading">Passwort vergessen?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email %>
		    <%= f.email_field :email, autofocus: true, class: "form-control"  %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Schick' mir Mail für neues Passwort", class: "btn btn-primary btn-lg btn-block" %>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>
		<br>
	</div>
</div>
