<div class="col-12-xs">
	<br>
  <p><%= article.category %> | <span><%= article.date %></span></p>
  <a><%= image_tag(article.image_url, class: "img-responsive center-block") %></a>
  <h2><%= article.header %></h2>
  <p class="text"><%= article.description %></p>
	<p><%= article.users %></p> 

  <p colspan="3" style="color: grey">
  	<%= link_to 'Zeigen', article %> | <%= link_to 'Bearbeiten', edit_article_path(article) %> | <%= link_to 'Löschen', article, method: :delete, data: { confirm: 'Sicher?' } %>
	</p>
  <br>
</div>
<hr>

